pandas>=2.2
geopandas>=1.0
matplotlib>=3.9
networkx>=3.4
nbformat>=5.10
nbclient>=0.10
nbconvert>=7.16
jupyter>=1.1
ipython>=8.0
ipykernel>=6.29
matplotlib-inline>=0.1
shapely>=2.0
folium>=0.19
requests>=2.32
